div > div
{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.6em;
    margin: 10px;
}

.grid
{
    display: grid;
}

.homework
{
    background-color: deeppink;
}

.broken
{
    background-color: aqua;
}

.infinity
{
    background-color: yellow;
}

@media (min-width: 33em) {
    .grid 
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 75em) {
    .grid
    {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .broken
    {
        display: grid;
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        align-items: center;
    }
    
    .infinity
    {
        display: grid;
        grid-column: 4 / -1;
        grid-row: 2 / -1;
        align-items: center;
    }
}