div > div
{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.6em;
    margin: 10px;
}

.grid
{
    display: grid;
}

.homework
{
    background-color: deeppink;
}

.broken
{
    background-color: aqua;
}

.infinity
{
    background-color: yellow;
}

@media (min-width: 33em){
    .grid 
    {
        grid-template-columns: 1fr 1fr;
    }
}