.grid
{
    display: grid;
    font-family: sans-serif;
    width: 90%;
    max-width: 20em;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.header, .date, .personAllowed, .ticketPrice
{
    border: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}

.header
{
    background-color: black;
    color: white;
    order: reverse;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    letter-spacing: 0.2em;
}

.header h3
{
    font-weight: 100;
    color: #DDDDDD;
    font-size: 0.8em;
    margin-top: -10px;
}

.qrcode
{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-image: url(../images/backgroundTicket.jpg);
    background-position: center;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.qrcode img
{
    display: block;
    margin: auto;
}

.ticketPrice
{
    grid-column: 1 / -1;
}

.footer
{
    display: none;
}

.date, .personAllowed, .ticketPrice
{
    background-color: rgb(22, 16, 16, 0.1);
}

@media (min-width: 800px)
{
    .grid
    {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 3fr 1fr 1fr;
        min-width: 700px;
        max-height: 250px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%), url(../images/backgroundTicket.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .header
    {
        grid-column: 1 / 4;
        background: transparent;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header h1
    {
        font-size: 3em;
        letter-spacing: 0.5em;
    }

    .header h3
    {
        color: black;
        margin-bottom: -20px;
        margin-top: 10px;
    }

    .qrcode
    {
        grid-column: 4 / -1;
        grid-row: 1 / -1;
        background: transparent;
        border: 1px solid black;
    }

    .ticketPrice
    {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .footer
    {
        display: inline;
        border: 1px solid black;
        grid-column: 1 / 4;
        text-align: center;
    }
}